* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 } 


header, footer, .section1 {
  background-color: #1f2937;
  color: #f9faf8;
}

header {
  display: flex;
  padding: 16px 32px;
  justify-content: space-evenly;
  align-items: center;
}

header ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 16px;
}

header ul li {
  font-weight: bolder;
  cursor: pointer;
}

.section1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
  padding: 32px 64px;
}

.section1 .banner {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.section1 .banner button {
  border: none;
  background-color: #3B82F6;
  color: #e5e7eb;
  border-radius: 3px;
  padding: 8px 18px;
  font-weight: 900;
  cursor: pointer;
  flex-shrink: 0;
}

.section1 img {
  max-width: 400px;
  height: auto;
  border: 2px solid #e5e7eb;
  border-radius: 5px;
}

.section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 64px;
  gap: 32px;
}

.section2 .cardContainer {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

.section2 .cardContainer .card {
  max-width: 250px;
}

.section2 .cardContainer .card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid #3B82F6;
}

.section2 .cardContainer .card p {
  font-size: 20px;
  display: inline-block;
  max-width: 200px;
}

.section3 {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 48px;
}

.section3 .quoteContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.section3 p {
  color: #1f2937;
  font-size: 24px;
  display: inline-block;
  max-width: 600px;
}

.section3 .quoteContainer span {
  align-self: flex-end;
  font-weight: bolder;
}

.section4 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 48px;
  color: #f9faf8;
}

.blueContainer {
  background-color: #3B82F6;
  border-radius: 5px;
  display: flex;
  padding: 32px 64px;
  gap: 20px;
}

.blueContainer button {
  border: 1px solid #f9faf8;
  background-color: #3B82F6;
  color: #e5e7eb;
  border-radius: 3px;
  padding: 0px 18px;
  font-weight: 900;
  cursor: pointer;
  flex-shrink: 0;
}


 footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
 }

